* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 2.4rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 2.4rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  font-size: 62.5%;
}

h3 {
  margin-bottom: 3.2rem;
}

label {
  margin-right: 1.6rem;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.questions {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-bottom: 3.2rem;
}

.answers {
  font-size: 2.4rem;
  text-align: center;
}

.reset-button {
  border-radius: 8px;
  height: 4.8rem;
  width: 9.6rem;
  font-size: 2.4rem;
  font-weight: bold;
  border: 2px solid #000;
}
